body {
  margin: 0px;
  padding: 0px;
  background-color: #000 !important;
  overflow-x: hidden;
}

.container-fluid {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.myContainer {
  width: 100% !important;
}

.heading-xlarge.xxl {
  color: rgba(252, 10, 84, 0.8);
  font-size: 7vw;
  line-height: 0.98;
  text-align: center;
}

marquee.marquee {
  padding: 12px;
  background-color: #121218;
  color: #fff;
  margin-top: 25px;
}
._image {
  width: 1rem;
}

/* color color:rgb(120, 120, 131) */

.lightColor {
  color: rgb(120, 120, 131);
}

/* green text color: rgb(22, 206, 185) */

.greenText {
  color: rgb(22, 206, 185);
}

.textPick {
  color: rgb(252, 10, 84);
}
.marquee-coin {
  display: flex;
  margin: 0px 15px;
}

.abcd {
  display: flex;
  /* float: right; */
}
.text-color-gradient-blue {
  background-image: linear-gradient(129deg, #304352, #d7d2cc);
  color: #5b6eff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.marquee-track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 50s linear infinite reverse;
}

.marquee-track:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.containerBtn {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
}
.login-btn {
  background-color: #121218 !important;
  color: white !important;
  padding: 1rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  border: none !important;
}

.modal-body {
  position: relative;
  height: 10rem;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
}

.login-btn:hover {
  background-color: #22222a !important;
  cursor: pointer !important ;
}

/* For Firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Chrome, Safari, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Internet Explorer and Edge */
input[type="number"]::-ms-clear {
  display: none;
}

.modal-header {
  border: none !important;
}

.modal-footer {
  border: none !important;
}

.spinner-border {
  width: 50px;
  position: fixed;
  top: 50%;
  height: 50px;
  left: 50%;
  vertical-align: -0.125em;
  color: #767676 !important;
}

.swal-button {
  background-color: #0e0e0e;
}

.swal-button:hover {
  background-color: #0e0e0e !important;
}
/* introduction  ////////////////////////////////////////////////////*/

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 600px) {
  .heading-xlarge.xxl {
    font-size: 10vw !important;
  }
}


.modal-content {
  background: #ffffff38 !important;
}